<h1>MTG Decks</h1>

<div *ngFor="let deck of folders">
  <h2 (click)="toggleDeck(deck)" style="cursor: pointer;">
    {{ deck }} ▼
  </h2>
  <div *ngIf="isDeckOpen(deck)" style="margin-left: 20px;">
    <div style="display: flex; flex-wrap: wrap; gap: 10px; width: 90%; justify-content: center; margin: 0 auto;">
      <div *ngFor="let image of images" style="flex: 1 1 auto; max-width: 300px;">
      <ng-container *ngIf="image.key.startsWith(deck + '/')">
        <div>
        <img [src]="image.url" [alt]="image.key" style="width: 100%; max-width: 300px;" />
        <p>{{image.key.split('/')[1]}}</p>
        </div>
      </ng-container>
      </div>
    </div>
  </div>
</div>